[user]
  name = João Gradim
  email = joao.gradim@gmail.com

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff-highlight"]
  oldNormal    = red bold
  oldHighlight = red bold 52
  newNormal    = green bold
  newHighlight = green bold 22

[color "diff"]
  meta       = 11
  frag       = magenta bold
  commit     = yellow bold
  old        = red bold
  new        = green bold
  whitespace = red reverse

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
  whitespace = blank-at-eol,blank-at-eof,trailing-space,space-before-tab,indent-with-non-tab
  merge-options = --no-ff
  editor = vim
  excludesfile = ~/.gitignore

[alias]
  co = checkout
  st = status
  ci = commit
  br = branch
  cp = cherry-pick
  autoremove = "!f() { \
      whitelist=\"master|dev|legacy\"; \
      git fetch --prune; \
      if [ -z \"$1\" ]; then \
          list=$(git branch --merged | egrep -v \"(^\\*|$whitelist)\") && \
          cmd='echo \"$list\" | xargs -n 1 git branch -d'; \
      else \
          list=$(git branch -r --merged | grep \"$1\" | egrep -v \"(>|$whitelist)\") && \
          cmd='echo \"$list\" | cut -d'/' -f2- | xargs -n 1 git push \"$1\" --delete'; \
      fi; \
      echo \"On branch $(git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \\(.*\\)/\\1/'). \"; echo \"\"; \
      if [ -z \"$list\" ]; then \
          echo \"No branches to remove.\"; \
      else \
          echo \"Branches to remove:\"; echo \"$list\"; echo \"\"; \
          read -p 'Press enter to continue'; echo \" \"; \
          eval $cmd; \
      fi \
  }; f"
  autoremoveall = "!git remote | xargs -n 1 git autoremove; git autoremove"
  gl = log --graph --decorate --pretty=oneline --abbrev-commit --all --date-order
  s = status -sb
  dc = diff --cached
  d = diff
  latest = rev-parse --short HEAD

[push]
  default = simple

[rerere]
  enabled = true
